* {
  margin: 1%

}

.app {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.compScreen {
    text-align: right;

}

.compHealth{
    max-height: 20px;
    width: 50%;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 15px;
    float: right;
}

.compChoice {
    float: right;
}

.userScreen {
    text-align: right;
    justify-content: right;

}

.userHealth{
    max-height: 20px;
    width: 50%;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 15px;
    float: left;
}

.userChoice img {
    padding: 0;
    margin: 0;
    float: left;

}

.userController {
    border-style: solid;
    display: flex;
}

.moves{
    max-width: 30%;
}

.moves h2, h5 {
  text-align: left;
}

.movesGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.statusScreen {
    background-color: slategray;
    color: white;
    padding: 2%;
    max-width: 70%;
}

.confirm_choice {
  border-style: solid;
}

.pokemon_choices{
  border-style: solid;
}

.choices_wrapper{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.pokemon:hover {
    border-style: solid;

}

.choices_wrapper img {
  max-width: 80%;
}

